/* You can add global styles to this file, and also import other style files */

@import "main-styles";


.mat-dialog-container {
  background: $dark-brown !important;

  .mat-dialog-title {
    color: $green;
  }

  .mat-dialog-content {
    color: $green;

    .mat-form-field-label {
      color: #DDE1D3;
    }

    .mat-step-text-label {
      color: white;
    }
    .mat-step-icon-selected {
      background-color: $green;
    }
  }
}

mat-horizontal-stepper {
  background-color: $dark-brown !important;
}

.mat-step-label {
  color: $green !important;
}
