/* You can add global styles to this file, and also import other style files */

@import "_main-styles";


.mat-dialog-container {
  background: $dark-brown !important;

  .mat-dialog-title {
    color: $green;
  }

  .mat-dialog-content {
    color: $green;

    .mat-form-field-label {
      color: #DDE1D3;
    }
  }
}
