@import "../../../main-styles";


.mat-dialog-content {
  form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
  }
}

mat-horizontal-stepper {
  background-color: $dark-brown !important;
}

.mat-step-label {
  color: $green !important;
}
.dialog-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  display: flex;
  justify-content: space-between;
}

.one-button {
  justify-content: flex-end;
}


