<div mat-dialog-title class="dialog-title">
  <h2>Move task: {{idTask}} to realize</h2>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <form>
      <mat-label>Select team to realize task:</mat-label>
      <mat-select [(value)] ="selected">
        <mat-option *ngFor="let team of teams" [value]="team.id">
          {{team.name}}
        </mat-option>
      </mat-select>
  </form>

</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="save()">SAVE</button>
</div>
