@import "../../../main-styles";

.team {
  padding: 1em;
  background-color: $yellow;
  border-radius: 0;

  .header {
    .title {
      font-weight: bolder;
      font-size: 1.5em;
      line-height: 1.5em;
      color: $dark-brown;
    }
  }

  .team-details {
    display: flex;
    flex-direction: column;

    .mat-input-element:disabled {
      color: $dark-brown !important;
    }
  }
}
