@import "../../../main-styles";

.product-backlog {

  .mat-paginator {
    background-color: $yellow;
  }

  table {
    background-color: transparent;
    width: 100%;
    border-spacing: 0 1em;

    .mat-cell, .mat-header-cell {
      text-align: center;
    }

    .mat-row {
      background-color: $yellow;
      cursor: pointer;
    }

    .mat-header-row {
      background: $green;
    }

    .mat-header-cell {
      line-height: 1.2em;
      font-size: 1.2em;
      color: $dark-brown;
    }

  }



}



