@import "../../../main-styles";
@import "../../../assets/styles/scroll-panel";

.container {
  .content {
    .side {
      width: 5%;
      height: 100%;
    }
    .middle {
      height: 100%;
      width: 90%;
      white-space: nowrap;
    }
  }
}



