
<div class="container">
  <div class="projects-header">
    <h3>Your projects</h3>
  </div>

  <div class="content">
    <div class="side">
      <mat-icon (click)="scrollLeft()">
        keyboard_arrow_left
      </mat-icon>
    </div>
    <div #widgetsContent class="middle" >
      <div class="project" *ngFor="let project of projects" (click)="goToProject(project.id)">
        <div>{{project.name}}</div>
      </div>
    </div>
    <div class="side">
      <mat-icon (click)="scrollRight()">
        keyboard_arrow_right
      </mat-icon>
    </div>

  </div>
</div>
