<div class="board-tasks">
  <div class="status-name">{{title}}</div>
  <mat-accordion cdkDropList
                 [cdkDropListData]="tasks"
                 (cdkDropListDropped)="onDrop($event)">
    <mat-expansion-panel *ngFor="let task of tasks" hideToggle cdkDrag
                         [cdkDragDisabled]="title==='PBI'">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{task.title}} ({{task.storyPoints}})
          <div class="icon">
            <mat-icon *ngIf="title==='PBI'" (click)="divided(task.id)">add</mat-icon>
            <mat-icon *ngIf="title!=='PBI' && title!=='DONE'" (click)="changeStatus(task.id)">forward</mat-icon>
            <mat-icon *ngIf="title=='IN-PROGRESS' || title=='MERGE REQUEST'" (click)="addRealizeTask(task.id)">pan_tool</mat-icon>
            <mat-icon (click)="displayTask(task.id)">open_in_new</mat-icon>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>{{task.description}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
