@import "../../../main-styles";


.mat-dialog-content {
  form {
    display: flex;
    flex-direction: column;
    min-width: 500px;
  }
}

.mat-dialog-actions {
  @include centerElements;

  button {
    min-width: 150px;
  }
}


