
<div class="container">
  <div class="projects-header">
    <h3 *ngIf="isDashboard">Your teams</h3>
    <h3 *ngIf="!isDashboard">All teams</h3>
  </div>

  <div class="content" *ngIf="teams.length">
    <div class="side">
      <mat-icon (click)="scrollLeft()">
        keyboard_arrow_left
      </mat-icon>
    </div>
    <div #widgetsContent class="middle" >
      <div class="team element" *ngFor="let team of teams" (click)="isDashboard && goToTeam(team.id)">
        <div>{{team.name}}</div>
      </div>
    </div>
    <div class="side">
      <mat-icon (click)="scrollRight()">
        keyboard_arrow_right
      </mat-icon>
    </div>

  </div>

  <div class="content" *ngIf="!teams.length">
    <div class="info">
      You aren't currently a member of any team.
      If you want, you can create your own team or join the team. Use the button "create a team" or "join team".
    </div>
  </div>
</div>
