@import "../../_main-styles.scss";

.board-tasks {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;

  .status-name {
    background: $green;
    font-size: 1.2em;
    line-height: 1.2em;
    min-height: 50px;
    @include centerElements;
    align-self: stretch;
    box-shadow: 0 3px 6px black;
    border-radius: 10px;
  }

  mat-expansion-panel {
    margin-top: 1em;
    background: $yellow;
    box-shadow: 0 3px 6px black;
    border-radius: 10px;

    mat-expansion-panel-header {
      mat-panel-title {
        font-weight: bold;
      }
    }
  }
}
