@import "../../../main-styles";
@import "../../../assets/styles/from-styles";

.button-login {
  filter: brightness(60%);
  color: $detail-color;

}

.button-registration {
  filter: brightness(30%);
}

