<div mat-dialog-title class="dialog-title">
  <h2>Add teams to Project: {{idProject}}</h2>
  <button mat-icon-button aria-label="close dialog" mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
    <form [formGroup]="teamForm">
      <div class="one-button">
        <button mat-raised-button (click)="addTeam()" [disabled]="!teamForm.valid">Add team</button>
      </div>
      <mat-form-field>
        <mat-label>Enter a name team: </mat-label>
        <input [formControl]="teamNameFC" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Enter a access code: </mat-label>
        <input [formControl]="accessCodeFC" matInput />
      </mat-form-field>
      <mat-list *ngIf="teams.length > 0">
        Add teams:
        <mat-list-item *ngFor="let team of teams">
          <span>Team name: {{team.name}}</span>
          <span>Team accessCode: {{team.accessCode}}</span>
        </mat-list-item>
      </mat-list>
    </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="save()">SAVE</button>
</div>
