@import "../../../main-styles";

:host {
  @include fullPage;
}

.main-container {
  height: 95%;
  width: 95%;

  .home-page-container {
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2em;

    .projects {
      grid-row-start: 1;
      grid-column-start: 1;
      .content {
        div {
          background: $yellow;
        }
      }
    }

    .teams {
      grid-row-start: 2;
      grid-column-start: 1;
      .content {
        div {
          background: $purple;
        }
      }
    }

    .projects,
    .teams {
      display: flex;
      flex-direction: column;
      .header {
        height: 10%;
        background: $green;
        box-shadow: 0 3px 6px black;
        margin-bottom: 1em;
        @include centerElements;
        border-radius: 10px;
      }

      .content {
        height: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
        div {
          box-shadow: 0 3px 6px black;
          @include centerElements;
          border-radius: 10px;

          &:hover {
            filter: brightness(80%);
            cursor: pointer;
          }
        }
      }
    }

    .tasks {
      grid-row-start: 1;
      grid-column-start: 2;
      grid-row-end: 3;
      .header {
        height: 5%;
        background: $green;
        box-shadow: 0 3px 6px black;
        @include centerElements;
        border-radius: 10px;
      }

      .content {
        height: 95%;
      }

      mat-expansion-panel {
        margin-top: 1em;
        background: $pink;
        box-shadow: 0 3px 6px black;
        border-radius: 10px;

        mat-expansion-panel-header {
          mat-panel-title {
            font-weight: bold;
          }
        }
      }
    }
  }

}
